*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'open sans';  
    /* background-color: rgb(39,39,39); */  
    background-color:#000;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo .animate__animated-animate__bounceInDown {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
} 
.descripcion span {
    color: #5dfe3a;
}

.titulo .animate__animated-animate__bounceInDown {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 15s; /* don't forget to set a duration! */
  }

/* header {
    width: 100%;
    height: 700px;
    background: -webkit-linear-gradient(to right, hsla(207, 59%, 49%, 0.507), hsla(198, 95%, 48%, 0.507)), url(./vectores/gafas.jpeg);
    background: linear-gradient(to right, hsla(207, 89%, 49%, 0.507), hsla(210, 89%, 56%, 0.507)), url(./vectores/gafas.jpeg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
} */

/* Particules */

header {
    width: 1000px;
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
}

#particles-js {
    height: 100vh; 
    width: 100%;
    position: fixed;
    z-index: -1;
}

.container {
    width: 70%;
    max-width: 1200px;
    background-size: 50rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url('./img/sinfondo.png');
    background-position: right;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .70;
}

.container.header {
    border-radius: 10px;
    height: calc(115vh - 55px);
    border: 3px solid #555555;    
}
.fas .fa-biohazard .animate__animated-animate__bounceInRight {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 35s; /* don't forget to set a duration! */
}

.barra-navegacion ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}

.barra-navegacion .logo { 
    color:#3dff3e;
    font-size: 50px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    color: #3dff3e;
    border-bottom: 1px solid currentcolor;
}

.contenido-descripcion {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.3rem;

    font-family: 'Inter',sans-serif;
    font-weight: 400;
<<<<<<< HEAD

}
.descripcion .animate__animated-animate__bounceInUp {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 15s; /* don't forget to set a duration! */
}
.descripcion .animate__animated-animate__bounceInUp {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 15s; /* don't forget to set a duration! */

=======
>>>>>>> master
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 50px; 
    display: block;
    font-weight: 300;
}

.contenido-descripcion .titulo span:last-child {
    font-weight: 900;
    font-size: 100px;
}

.contenido-descripcion .btn-link {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #3dff3e;
    border: 1px solid #555555;
    animation: parpadeo 2s linear infinite;
    transition: .7s ease;
}

.contenido-descripcion .btn-link:hover {
    border: 1px solid #3dff3e;
    animation: none;
}

@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}

/* Particules */


/* nav {
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover {
    text-decoration: underline;
    color: darkblue;
}
nav > a:active {
    color: red;
}
nav > a::after {
    content: " | ";
}
header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 30px;
}
.textos-header h1 {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 3.5rem;
}
.textos-header h2 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bolder;
    margin: 0 30px;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
 */
/* .button {
    border-radius: 50px;
    width: 250px;
    border: 1px solid rgb(24, 23, 23);
    height: 40px;
    background: #F2F2F2;
}*/

/* .download {
    border: 2px solid #fff;
    height: 40px;
    border: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.download p{
    color: #4d0686;
    font-size: 25px;
    text-decoration: none;
}
.download a {
    text-decoration: none;
}
.download p:hover {
    color: blue;
}
.download p:active {
    color: red; 
}  */

/* Nuevo Button */

/* .btn-80,
.btn-80 *,
.btn-80 :after,
.btn-80 :before,
.btn-80:after,
.btn-80:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-80 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(59,83,160);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.0;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-80:disabled {
  cursor: default;
}
.btn-80:-moz-focusring {
  outline: auto;
}
.btn-80 svg {
  display: block;
  vertical-align: middle;
}
.btn-80 [hidden] {
  display: none;
}
.btn-80 {
  border: 2code .
  px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  margin: auto;
}
.btn-80 span {
  font-weight: 700;
  mix-blend-mode: plus-lighter;
}
.btn-80:before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.btn-80:hover:before {
  -webkit-animation: progress-bar 1.2s;
  animation: progress-bar 1.2s;
}
@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
} */

/* Animaciones para el header */



/*  */





/* Nuevo Button */


/* Abaut us */ 

main .sobre-nosotros {
    padding:  30px 0 60px 0;
    /* background: #f2f2f2; */
    background-color:#000000; 
    margin: 30px;
    margin-left: 140px;
}
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us {
    width: 48%;
}
.sobre-nosotros .contenido-textos {
    width: 48%;
}
.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, hsla(135, 59%, 54%, 0.507));
    margin-right: 8px;
}
.contenido-textos h3 {
    color: #3dff3e;
    font-size: 1.5rem;
}
.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #fff;
}

/* Galeria */

.portafolio {
    background: #f2f2f2;
    background-color:#000;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    /* background: rgb(242,242,242); */
    /* background: #5e5e5e; */
}

.imagen-port > img {
    width: 100%;
    border-radius: 10px 10px;
    /*height: 100%;*/
    object-fit: cover;
    display: block;
   
}
.imagen-port p {
    font-weight: 300;
    border: 1px solid rgb(46, 46, 46);
    /* text-align: justify; */
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    /* background: #5e5e5e; */
    color: #fafafa;
}
.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(60, 60, 60, 0.7);
    transition: transform .5s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img {
    width: 50px;
}
.hover-galeria a {
    color: #fff;
}
.imagen-port:hover .hover-galeria {
    transform: scale(1);
}
.batata-image {
    width: 90%;
    height: 30px;
    padding: 65px 0;
}

 /* Clients */

 .cards {
     display: flex;
     justify-content: space-evenly;
 }
 
 .cards .card {
     /* background: hsla(273, 91%, 27%, 0.692); */
     border-radius: 10px;
     background: #313030;
     display: flex;
     width: 46%;
     height: 200px;
     align-items: center;
     justify-content: space-evenly;
     border-radius: 5px;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
 }
 .cards .card img {
     width: 200px;
    /*  height: 100px; */
     object-fit: cover;
    /*  border: 3px solid #fff; */
     border-radius: 50%; 
     display: block;
 }
 .cards .card > .contenido-texto-card {
     width: 60%;
     color: #fff;
 }
 .cards .card > .contenido-texto-card p {
     font-weight: 300;
     padding-top: 5px;
 }

 /* Our team */

.about-services {
    /* background: #f2f2f2; */
    padding-bottom: 30px;
    color: #fff;
}
.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind {
    width: 28%;
    text-align: center;
}
.servicio-ind img {
    width: 90%;
}
.servicio-ind h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}
.servicio-ind p {
    font-weight: 300;
    text-align: justify;
    font-size: 1.0rem;
}
/* Footer */

footer {
   /*  background: #414141; */
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo {
    text-align: center;
}
.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p {
    color: #ccc;
    border-bottom: 3px solid #af20d3;
}
.content-foo .link {
    color: #ccc;
    border-bottom: 3px solid #af20d3;
    text-decoration: none;
}
#trucazo {
    opacity: 0;
}
.botton {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.0rem;
    background: #414141;
    border: 3px solid #af20d3;
}
.ancla {
    color: #ccc;
    text-decoration: none;
}
.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


@media screen and (max-width: 1328px) {
    
}

@media screen and (max-width: 1024px) {
    .container.header {
        width: 750px;
        margin-left: 50px;
     } 
    
}

@media  screen and (max-width:900px) {
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    /* Galeria */
    .imagen-port{
        width: 44%;
    }
    .batata-image {
        width: 90%;
        height: 50px;
        padding: 50px 0;
    }
   
    /* Clients */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }
    /* Servicios */
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
     .container.header {
        width: 650px;
        height: 740px;
     }
     main .sobre-nosotros {
        margin-left: auto;
     }

     /* Footer */
     
     .botton {
        width: 90px;
     }
     .contenedor-footer {
        width: 100%;
     }
}

@media screen and (max-width: 600px) {
   .container.header {
      width: 450px;
    }
    /* footer {
         border: 1px solid red; 
    } */
    .botton {
        width: 90px;
     }
     /* .contenedor-footer {
        /* border: 1px solid red; */
        /* width: 90%; 
     } */
     .content-foo {
        display: grid;
        grid-template-columns: min-content;
     }
}


@media screen and (max-width:500px){
    .container header {
        border: 1px solid red;
    }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
        
    }
    .textos-header h2{
        font-size: 20px;
    }
     /* About us */
     

     

     .imagen-about-us {
         margin-bottom: 60px;
         width: 99%;
     }
     .sobre-nosotros .contenido-textos {
         width: 95%;
     }

     /* Gaieria */

     .imagen-port {
         width: 95%;
     }
     .batata-image {
        width: 90%;
        height: 50px;
        padding: 50px 0;
    }

     /* Clients */

     .cards .card {
         height: 450px;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .cards .card img{
         width: 90px;
        /*  height: 90px; */
     }
     .contenedor-footer {
         flex-direction: column;
         border: none;
     }
     .content-foo {
         margin-bottom: 20px;
         text-align: center;
     }
     .content-foo h4 {
         border: none;
     }
     .content-foo p {
         color: #ccc;
        /*  border-bottom: 1px solid #f2f2f2; */
         border-bottom: 3px solid #af20d3;
         margin-bottom: 20px;
     }
     .content-foo .link {
        color: #ccc;
        border-bottom: 3px solid #af20d3;
    }
     .a {
        color: #ccc;
     }
     .titulo-final {
         font-size: 20px;
     }
}

@media screen and (max-width: 480px) {
    /* Particules */

   header {
      width: 1000px;
      background-color:#000;
      color: #fff;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: 300; 
<<<<<<< HEAD
    }
    .descripcion span {
        color: #42ff49;
    }
=======
}
.descripcion span {
    color: #42ff49;
}
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/master
=======
>>>>>>> master
    #particles-js {
        height: 100vh; 
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    
    .container {
        width: 80%;
        max-width: 1200px;
        background-size: 450px;
        background-image: url('./img/sinfondo.png');
        background-position:center;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 15px;
        padding: 20px 30px;
        position: relative;
        z-index: 99;
        opacity: .75;
    }

    .fas .fa-biohazard .animate__animated-animate__bounceInRight {
        display: inline-block;
        margin: 0 0.5rem;
    
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 35s; /* don't forget to set a duration! */
    }
    
    .container.header {
        border-radius: 10px;
        width: 450px;
        margin: 20px 30px 0 30px;
        height: calc(120vh - 55px);
        border: 0;     
    }
    .titulo .animate__animated-animate__bounceInDown {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 15s; /* don't forget to set a duration! */
      }
    
    .barra-navegacion ul {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
    
    .barra-navegacion li {
        list-style: none;
        display: inline-block;
    }
    
    .barra-navegacion .logo { 
        color:#3dff3e;
        font-size: 50px;
    }
    
    .barra-navegacion a {
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: .5s ease;
    }
    
    .barra-navegacion a:hover {
        color: #3dff3e;
        border-bottom: 1px solid currentcolor;
    }
    
    .contenido-descripcion {
        width: 60%;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .descripcion .animate__animated-animate__bounceInUp {
        display: inline-block;
        margin: 0 0.5rem;
    
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 15s; /* don't forget to set a duration! */
    }
    
    .contenido-descripcion .titulo {
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    
    .contenido-descripcion .titulo span:first-child {
        font-size: 50px; 
        display: block;
        font-weight: 300;
    }
    
    .contenido-descripcion .titulo span:last-child {
        font-weight: 900;
        font-size: 50px;
    }
    
    .contenido-descripcion .btn-link {
        display: inline-block;
        padding: 10px 20px;
        margin: 25px 0;
        text-transform: uppercase;
        text-decoration: none;
        color: #3dff3e;
        border: 1px solid #555555; 
        animation: parpadeo 2s linear infinite;
        transition: .7s ease;
    }
    
    .contenido-descripcion .btn-link:hover {
        border: 1px solid #3dff3e;
        animation: none;
    }
    
    @keyframes parpadeo  {
        0%, 41%, 45%, 47%, 49.5%, 100%  { 
            opacity: 1;
        }
    
        42%, 44%, 46%,48%,  50%  { 
            opacity: 0; 
        }
    }

     /* Particules */

    
    
    
    .contenido-descripcion {
        font-size: 1.5rem;
    }
    .titulo {
        font-size: 1.0rem;
    }
    .contenido-descripcion .titulo {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: .5rem;
    }
    .titulo {
        font-size: 30px;
    }

    
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        
    }
    main .sobre-nosotros {
        padding:  30px 0 30px 0;
        /* background: #f2f2f2; */
        background-color:#000;
        margin: 30px;
        width: 550px;
    }

    .contenido-textos h3 {
        color: #3dff3e;
        font-size: 1.5rem;
    }
    .contenido-textos p {
        color: #fff;
        font-size: 1.5rem;
    }

    
    
    .portafolio {
        padding:  30px 0 30px 0;
        /* margin: 0 150px 0 50px; */
        width: 550px;
        margin: 0 30px;
     }
     .contenedor {
        margin: 0 0 0 0;
        width: 550px;
     }
     .imagen-port {
        height: 470px;
     }
     .imagen-port > img {
        height: 350px;
     }
     .imagen-port p {
        font-size: 1.5rem;
     }
     .imagen-port .batata-image {
        border: 1px solid white;
        width: 520px;
        height: 70px;
    }

     .cliente {
        margin: 0 30 0 30;
        width: 550px;
     }
     .cards {
        margin: 0 40px;
        width: 550px;
     }
     .cards .card {
        background: #313030;
     }
     .cards .card img {
        width: 250px;
     }
     .contenido-texto-card h4  {
        color: #3dff3e;
        font-size: 1.5rem;
     }
     .contenido-texto-card p {
        font-size: 1.5rem;
     }

     .about-services {
        margin: 0 30px 0 10px;
     }
     .titulo h2 {
        border: #3dff3e;
        font-size: 1.5rem;
     }
     .servicio-ind h3 {
        border: #3dff3e;
        font-size: 1.8rem;
     }
     .servicio-ind p {
        font-size: 1.3rem;
     }
     
     /* .footer {
        background: #414141; 
        padding: 60px 0 30px 0;
        margin: auto;
        overflow: hidden;
    } */
    .contenedor-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        margin-left: 80px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
        font-size: 1.4rem;
    }
    
     

     
     
    
}

@media screen and (max-width:320px) {
    
}

